.cell {
    display: block;
    font-size: 10px;
    margin: 2px;
    background: #E5EAF1;
    padding: 2px;
}
.prestask_button {
    display:inline-block; 
}

.pretask {
    display:inline-block;
    width: 80%; 
    margin-top: 2px;
}
.pretask_right {
    display:inline-block;
    text-align: right; 
}
.pretaskselected {
    background: #FFFFFF;
}
#pretaskexperimental {
    background: none repeat scroll 0 0 #CCCCCC;
    display: none;
    border: 1px solid #AAAAAA;
    height: 400px;
    left: 500px;
    position: absolute;
    top: 90px;
    width: 380px;
    z-index: 2;
}

.fordates {
    font-size: 63%;
}
.fuente{
    font-size: 110%;
}
.span-right{
    float: right;
    margin-top: 5px;
}
.div-table-left {
    display: block-inline;
    float: left;
    width: 3em;
    min-height: 2em;
    vertical-align: top;
}
.div-table-right{
    display: block-inline;
    float: left;
    vertical-align: top;
    margin-left: 45px;
}
.nav-head {
    display:inline;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
#task_input {

  display: inline;
}
