<head>

    <title>PM</title>

    <!-- include the Tools -->
    <!-- <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script> -->

    <!-- standalone page styling (can be removed) -->
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/standalone.css"/> 

    <!-- tab styling -->
    <!--<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/tabs-no-images.css"/> -->
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/cells.css?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ui-lightness/jquery-ui-1.8.7.custom.css?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/autocomplete.css?{% now "U" %}">
    <!-- pagination in jquery -->
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/pagination.css?{% now "U" %}">


    <!-- a ver -->
    <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
    <link href="{{MEDIA_URL}}css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <!--<link href="{{MEDIA_URL}}css/jquery-tabs.css" rel="stylesheet" type="text/css"/>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
    <script src="{{MEDIA_URL}}js/jquery.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
      <script src="{{MEDIA_URL}}js/jquery-ui.min.js"></script>
    
    <!-- for ajax form -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.form.js"></script>

    <!-- for autocomplete -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui.min.js"></script>

    <!-- pagination in jquery -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.pagination.js"></script>

    <script>
           function pageselectCallback(page_index, jq){
                var new_content = $('#hiddenresult div.result:eq('+page_index+')').clone();
                $('#Searchresult').empty().append(new_content);
                return false;
            }
           
            /** 
             * Callback function for the AJAX content loader.
             */
            function initPagination() {
                var num_entries = $('#hiddenresult div.result').length;
                // Create pagination element
                $("#Pagination").pagination(num_entries, {
                    num_edge_entries: 2,
                    num_display_entries: 8,
                    callback: pageselectCallback,
                    items_per_page:1
                });
             }

    </script>
    <script>

    $(document).ready(function() {
 
        var $tabs=$('#tabs').tabs({
        load: function(event, ui) {
            $('a', ui.panel).click(function() {
                $(ui.panel).load(this.href);
                return false;
            });
        }
        });
        var $tabs2=$('#Tasks').tabs({
        load: function(event, ui) {
            $('a', ui.panel).click(function() {
                $(ui.panel).load(this.href);
                return false;
            });
        }
        });
        // task input form
        var opciones= {
                           beforeSubmit: mostrarLoader, //funcion que se ejecuta antes de enviar el form
                           success: mostrarRespuesta //funcion que se ejecuta una vez enviado el formulario
        };
         //asignamos el plugin ajaxForm al formulario myForm y le pasamos las opciones
        $('#task_input').ajaxForm(opciones) ;

         //lugar donde defino las funciones que utilizo dentro de "opciones"
         function mostrarLoader(){
                      $("#loader_gif").fadeIn("slow"); //muestro el loader de ajax
         };
         function mostrarRespuesta (responseText){
                    $("#loader_gif").fadeOut("slow"); // Hago desaparecer el loader de ajax
                    $tabs.tabs( "load" , 0);
                    $('#id_title').val('');
         };

    });
  </script>
</head>

<body style="font-size:62.5%;">
    <div>
        <ul id="navlist"> 
            <li>
                <form id='task_input' method="post" action="save/">
                {% for field in form %}{{field}}{% endfor %}{% csrf_token %}
                    <input type="submit" value="Add"  \>
                    <span id="ajax_loader"><img id="loader_gif" src="{{MEDIA_URL}}img/loader.gif" style=" display:none;"/></span>
                </form>
            </li>
            <li>
                <!--<img src="{{MEDIA_URL}}img/pmlogotransscale.png"></img>-->
            </li>
        </ul>
    </div>
    <!-- tabs -->
    <div id="tabs">
        <ul>
            <li><a href="tab1/" title="Inbox" >Inbox</a></li>
            <li><a href="tab2/" title="Tasks" >Tasks</a></li>
            <li><a href="tab3/" title="Team" >Team</a></li>
        </ul>

        <div id="Inbox"></div>
        <div id="Tasks"></div>
        <div id="Team"></div>

    </div>
</body>
