{%if pt%}
    {{pt.title}}
{%endif%}

Probandoooo

<form id="taskita" method="post" action="save_detailed_task/{{task.id}}/">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<br>

<!--
thats supposed to work and its the preferred way because of ie
<input type="button" id="save-task" value="Save" name="save" ></input>-->
<button name="save" value="ok" id="save-task" >Save</button>
<button name="delegate" value="ok" id="delegate-task" >Delegate</button>
<!--<input type="submit" value="save" />-->
</form>
<span id="salida"></span>
<div id="salidaia"></div>
<!--<button id="save-task" >Save</button>-->
<script>
$(document).ready(function() {

        var opciones= {
                           beforeSubmit: mostrarLoader, //funcion que se ejecuta antes de enviar el form
                           success: mostrarRespuesta //funcion que se ejecuta una vez enviado el formulario
        };
         //asignamos el plugin ajaxForm al formulario myForm y le pasamos las opciones
        $('#taskita').ajaxForm(opciones);

        // para cargar la siguiente:

        //$('#taskita').append(tarea);
        alert('eo'+tarea);
         //lugar donde defino las funciones que utilizo dentro de "opciones"
         function mostrarLoader(){
                      //$("#loader_gif").fadeIn("slow"); //muestro el loader de ajax
                      //$("#ajax_loader").append("<br>Mensaje: "+responseText).fadeIn("slow");
         };
         function mostrarRespuesta (responseText){
                      //  alert('this is---'+responseText+'-----');
                      if (responseText == "ok") {
                        $("#salida").html(responseText).fadeIn("slow").fadeOut("slow");
                        //$("#left-pane").load('see_pretask/'+$(this).attr('id'));
                        // this was a bad way ^
                     var $tabs=$('#tabs');
                    $tabs.tabs( "load" , 0);
                       } else {
                        $("#salida").html(responseText).fadeIn("slow");
                        }
         };


//$(this).parent().load('see_pretask/'+$(this).attr('id'));
    /*$('#save-task').click(function(event) {
    //$('.left-pane').html("hola");
    //$.post('prueba/save_detailed_task/');
    $.post("prueba/save_detailed_task/", { name: "John", time: "2pm" },
       function(data){
         alert("Data Loaded: " + data);
       });
    alert('ss');
    });*/
//};
//alert("jajaj");
});
</script>
<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head><title> New Document </title></head>
<body style="margin:0px">
<div id="rootTable">
<table>
<tr><td>header</td></tr>
<tr><td id="maxHeightRow">content</td></tr>
<tr><td>footer</td></tr></table>
</div>
</body>
<script language="javascript" type="text/javascript">
document.getElementById("maxHeightRow").style.height=document.body.offsetHeight - (document.getElementById("rootTable").offsetHeight-document.getElementById("maxHeightRow").offsetHeight+0)+"px";//0 is padding.
</script>
</html>
-->
