<div id="breadcrumb"></div><br>
<!--<div class="head-greeting">Organise!</div>-->
<div class="left-pane" style="width: 50%; display: inline-block; vertical-align: top;">
Organise!
<div id="News-Pagination"></div>
<div id="MyContentArea"></div>
<div id="Searchresult">
            This content will be replaced when pagination inits.
        </div>
       <!-- Container element for all the Elements that are to be paginated -->
        <div id="hiddenresult" style="display:none;">

        </div>

{% if pretask %}
{%for i in pretask%}
  <div class="cell" id="{{i.id}}">
    <div id="pt" class="pretask">{{i.title}}</div>
    <div id="ptr" class="pretask_right">
    </div>
  </div>
{% endfor %}
{%endif%}
</div>
<div class="right-pane" style="width: 45%; display:inline-block; vertical-align: top;"></div>
<div id="pretaskexperimental" class="ui-corner-all"></div>
<script>
 $(document).ready(function() {
$('div.pretask_right').hide();
$('div.cell').removeClass('pretaskselected');
$("div.cell").click(function(event) {
            $('div.cell').removeClass('pretaskselected');
            $(this).addClass('pretaskselected');
            $('#pretaskexperimental').css('display','block').load('see_pretask/'+$(this).attr('id'));
            // cambiar el tasks_id
            $('div#breadcrumb').append('<button id="tasks_id_o_nombre" disabled="disabled">Tarea clickada</button>')
        }, function(event){
            //event.stopPropagation();
            }); 
    });
$('div#breadcrumb').append('<button id="tasks_home">Tasks</button>');
$('#tasks_home').click(function(event) {
  var $tabs=$('#tabs');
  $tabs.tabs( "load" , 0);

    // First Parameter: number of items
    // Second Parameter: options object
    $("#News-Pagination").pagination(2, {
        items_per_page:20,
        callback:handlePaginationClick
});
        $('#hiddenresult').load('ttask/2/', null, initPagination);

});
</script>
