<div id="breadcrumb"></div><br>
<!--<div class="head-greeting">Organise!</div>-->
<div class="left-pane" style="width: 50%; display: inline-block; vertical-align: top;">
Organise!

{% if pretask %}
{%for i in pretask%}
  <div class="cell" id="{{i.id}}">
    <div id="pt" class="pretask">{{i.title}}</div>
    <div id="ptr" class="pretask_right">
    </div>
  </div>
{% endfor %}
{%endif%}
</div>
<div class="right-pane" style="width: 45%; display:inline-block; vertical-align: top;"></div>
<div class="pretaskexperimental"></div>
<script>
 $(document).ready(function() {
$('div.pretask_right').hide();
$('div.cell').removeClass('pretaskselected');
$("div.cell").click(function(event) {
            $(this).addClass('pretaskselected');
            //$('.right-pane').load('see_pretask/'+$(this).attr('id'));
            //$(this).parent().load('see_pretask/'+$(this).attr('id'));
            $('.pretaskexperimental').css('display','block').load('see_pretask/'+$(this).attr('id'));
            // cambiar el tasks_id
            $('div#breadcrumb').append('<button id="tasks_id_o_nombre" disabled="disabled">Tarea clickada</button>')
        }, function(event){
            //event.stopPropagation();
            }); 
    });
$('div#breadcrumb').append('<button id="tasks_home">Tasks</button>')
//$('div#breadcrumb').append('<a href="/">aaaa</a> > aqui')
$('#tasks_home').click(function(event) {
  var $tabs=$('#tabs');
  $tabs.tabs( "load" , 0);
});
</script>
